



<div class="grid align-items-center justify-content-center">
  <div class="lg:col-6 sm:col-12">
     <div class="lg:w-11 sm:w-12  fadein animation-duration-1000">
      <img src="assets/images/Add notes-bro.png" alt="" class="w-full	">
     </div>
  </div>
  <div class="lg:col-6 sm:col-12">
    <div class="flex justify-content-center align-items-center">
      <div class="lg:w-9 sm:w-12 md:w-9 lg:pr-6 border-round-lg  fadein animation-duration-1000">
        <h1 class="text-4xl text-primary"> <span><i class="pi pi-pen-to-square"></i></span> Register Now</h1>
        <p *ngIf="errorMassage" class="text-red-500"><span> <i class="pi pi-exclamation-circle"></i></span> {{errorMassage}}</p>
       <form (ngSubmit)="submitForm(registerForm)" [formGroup]="registerForm">
         <div class="flex flex-column gap-2 mb-2">
           <label for="username">Username</label>
           <input pInputText id="username" aria-describedby="username-help" formControlName="name" />

           <div>
             <p *ngIf="registerForm.get('name')?.getError('required') && registerForm.get('name')?.touched" class="text-red-500"><span> <i class="pi pi-exclamation-circle"></i></span> Name is required</p>
             <p *ngIf="registerForm.get('name')?.getError('maxLength') && registerForm.get('name')?.touched" class="text-red-500"> <span> <i class="pi pi-exclamation-circle"></i></span> Name maxLength is 15 </p>
             <p *ngIf="registerForm.get('name')?.getError('minLength') && registerForm.get('name')?.touched" class="text-red-500"> <span> <i class="pi pi-exclamation-circle"></i></span> Name minLength is 3 </p>
           </div>
       </div>
         <div class="flex flex-column gap-2 mb-2">
           <label for="email">Email</label>
           <input pInputText id="email" aria-describedby="email-help" formControlName="email" />
           <div>
            <p *ngIf="registerForm.get('email')?.getError('required') && registerForm.get('email')?.touched" class="text-red-500"><span> <i class="pi pi-exclamation-circle"></i></span> Email is required</p>
            <p *ngIf="registerForm.get('email')?.getError('email') && registerForm.get('email')?.touched" class="text-red-500"> <span> <i class="pi pi-exclamation-circle"></i></span> Invalid email format </p>
          </div>
       </div>
       <div class="card flex flex-column gap-2 mb-2 ">
         <label for="Password">Password</label>
         <p-password
             promptLabel="Choose a password"
             weakLabel="Too simple"
             mediumLabel="Average complexity"
             strongLabel="Complex password"
             styleClass="w-full"
             formControlName="password"
              />

              <div>
                <p *ngIf="registerForm.get('password')?.getError('password') && registerForm.get('password')?.touched" class="text-red-500"><span> <i class="pi pi-exclamation-circle"></i></span> Password must contain at least one digit and one special character. </p>
                <p *ngIf="registerForm.get('password')?.getError('required') && registerForm.get('password')?.touched" class="text-red-500"><span> <i class="pi pi-exclamation-circle"></i></span> Password is required</p>
              </div>
     </div>
     <div class="flex flex-column gap-2 mb-2">
       <label for="Age">Age</label>
       <input pInputText id="Age" aria-describedby="Age-help" type="number" formControlName="age" />

       <div>
        <p *ngIf="registerForm.get('age')?.getError('maxNumber') && registerForm.get('age')?.touched" class="text-red-500"><span> <i class="pi pi-exclamation-circle"></i></span> Age must not exceed 65 </p>
        <p *ngIf="registerForm.get('age')?.getError('minNumber') && registerForm.get('age')?.touched" class="text-red-500"><span> <i class="pi pi-exclamation-circle"></i></span> Age must be at least 10</p>
        <p *ngIf="registerForm.get('age')?.getError('required') && registerForm.get('age')?.touched" class="text-red-500"><span> <i class="pi pi-exclamation-circle"></i></span>Age is required</p>
      </div>

     </div>
     <div class="flex flex-column gap-2 mb-2">
       <label for="Phone">Phone</label>
       <input pInputText id="Phone" aria-describedby="Phone-help" type="tel" formControlName="phone"/>
       <div>
        <p *ngIf="registerForm.get('phone')?.getError('required') && registerForm.get('phone')?.touched" class="text-red-500"><span> <i class="pi pi-exclamation-circle"></i></span> Phone is required </p>
        <p *ngIf="registerForm.get('phone')?.getError('pattern') && registerForm.get('phone')?.touched" class="text-red-500"><span> <i class="pi pi-exclamation-circle"></i></span> Phone number must be a valid Egyptian number</p>
      </div>
     </div>
     <p-button label="Register" type="submit" styleClass="ml-auto block mt-3 w-full sm:w-auto " ></p-button>
       </form>
      </div>
     </div>
  </div>
</div>


<!-- [disabled]="registerForm.invalid" -->














